header {
    padding: 10px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    
}

nav ul {
    background-image: url("photo-1506744038136-46273834b3fb.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 90%;

    padding: 90px;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-style: wavy;
    justify-items: right;
    font-size: medium;

    

}



body {
    background-color: #F3EAD8;
}

.logo{
    height: 200px;
    width: 200x;
    margin-left: 10px;
    margin: 40px;
    float: left;
    border-radius: 10%;
}